{"currentConfigFile": "Debug",
"currentProjectFolder": "Debug",
"positionerFolderSuffix": "",
"currentTestBenchFile": "05_XY_7bench_2",
"currentPositionerFile": "Debug",
"currentRequirementsFile": "Debug",
"currentFastCalibrationFile": "Debug",
"currentCalibrationFile": "Debug_fast",
"currentTestFile": "Debug",
"resultsLoadingFolder": "2020-11-05-16h23m39s",
"IDsToLoad": [1174,
1165,
1091],
"calibrateMotor": false,
"calibrateDatum": false,
"calibrateCogging": false,
"forceMotorCalibration": true,
"forceDatumCalibration": true,
"forceCoggingCalibration": true,
"nbMotorCalib": 10,
"nbDatumCalib": 10,
"nbCoggingCalib": 1,
"preheatBenchTime": 10,
"moveDuringPreheat": true,
"preheatBench": false,
"doFastCalibRun": false,
"doCalibRun": false,
"overwritePositionerModel": false,
"loadCalibRun": true,
"doTestRun": true,
"loadTestRun": false,
"nbTestingLoops": 1,
"doLivePlot": false,
"upgradeFirmware": false,
"firmwareUpgradeFile": "Config/Firmwares/4.1.15.bin",
"plotResults": true,
"saveInQc": false,
"sendMail": false,
"mailReceivers": ["loic.grossen@epfl.ch"],
"plotCoggingValues": false,
"plotCurrentValues": false,
"plotHardstopRepeatability": false,
"nbHardstopRepeatabilityChecks": 30}