{"currentConfigFile": "Lifetime",
"currentProjectFolder": "Blackbird_lifetime_repaired",
"positionerFolderSuffix": "",
"currentTestBenchFile": "",
"currentPositionerFile": "MPS",
"currentRequirementsFile": "SDSSV",
"currentFastCalibrationFile": "Lifetime",
"currentCalibrationFile": "Lifetime",
"currentTestFile": "Lifetime",
"resultsLoadingFolder": "latest",
"IDsToLoad": [7,
11,
13],
"calibrateMotor": true,
"calibrateDatum": true,
"calibrateCogging": true,
"forceMotorCalibration": true,
"forceDatumCalibration": true,
"forceCoggingCalibration": true,
"nbMotorCalib": 10,
"nbDatumCalib": 100,
"nbCoggingCalib": 1,
"preheatBenchTime": 10,
"moveDuringPreheat": true,
"preheatBench": true,
"doFastCalibRun": true,
"doCalibRun": true,
"overwritePositionerModel": true,
"loadCalibRun": false,
"doTestRun": true,
"loadTestRun": false,
"nbTestingLoops": 60,
"doLivePlot": false,
"upgradeFirmware": false,
"firmwareUpgradeFile": "Config\\tendo_v4.bin",
"plotResults": true,
"saveInQc": true,
"sendMail": true,
"mailReceivers": ["loic.grossen@epfl.ch"],
"plotCoggingValues": true,
"plotCurrentValues": true,
"plotHardstopRepeatability": true,
"nbHardstopRepeatabilityChecks": 50}