{"currentConfigFile": "MPS",
"currentProjectFolder": "Blackbird",
"positionerFolderSuffix": "",
"currentTestBenchFile": "05_XY_7bench_2",
"currentPositionerFile": "MPS",
"currentRequirementsFile": "SDSSV",
"currentFastCalibrationFile": "MPS",
"currentCalibrationFile": "MPS",
"currentTestFile": "MPS",
"resultsLoadingFolder": "latest",
"IDsToLoad": [7,
11,
13],
"calibrateMotor": true,
"calibrateDatum": true,
"calibrateCogging": true,
"forceMotorCalibration": true,
"forceDatumCalibration": true,
"forceCoggingCalibration": true,
"nbMotorCalib": 10,
"nbDatumCalib": 100,
"nbCoggingCalib": 1,
"preheatBenchTime": 10,
"moveDuringPreheat": true,
"preheatBench": true,
"doFastCalibRun": true,
"doCalibRun": true,
"overwritePositionerModel": true,
"loadCalibRun": false,
"doTestRun": true,
"loadTestRun": false,
"nbTestingLoops": 1,
"doLivePlot": false,
"upgradeFirmware": true,
"firmwareUpgradeFile": "C:/Users/Astrobots-lab/Google Drive/SDSSV/40000-Software/49000-Python/Calibration software/Config/Firmwares/4.1.15.bin",
"plotResults": true,
"saveInQc": true,
"sendMail": true,
"mailReceivers": ["ricardo.araujo@epfl.ch"],
"plotCoggingValues": true,
"plotCurrentValues": true,
"plotHardstopRepeatability": true,
"nbHardstopRepeatabilityChecks": 50}